.login-page {
  position: relative;
  background: url("../../images/background-default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  max-width: 120rem;
  margin: auto;

  .login-section {
    position: relative;
    display: flex;
    flex-direction: row;
    // top: 50%;
    // left: 50%;
    // padding: 0 20px;
    // transform: translate(-50%, -50%);
    margin: auto;
    padding-top: 200px;
    padding-bottom: 178px;
    max-width: 1010px;
    width: 100%;
    @media (max-width: 991px) {
      flex-direction: column;
      top: 40%;
      padding: 24px;
    }
    .login {
      width: 50%;
      img {
        width: 100%;
      }
      @media (max-width: 991px) {
        // height: 300px;
        // width: 50%;
        // max-height: 500px;
        // max-width: 200px;
        display: none;
      }
    }
    .login-form {
      width: 50%;
      max-width: 505px;
      display: flex;
      flex-direction: column;
      background-color: #0a1544;
      padding-top: 2.5%;
      padding-left: 59px;
      padding-right: 59px;
      @media (max-width: 991px) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
      }

      .login-title {
        color: #ffffff;
        text-align: center;
        @media (max-width: 991px) {
          font-size: 1.5rem;
        }
      }
      .input-box {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 18px, 25px, 18px, 25px;
        margin-top: 7%;
        width: 100%;
        max-width: 390px;
        border-color: #2043f1;
        border-style: solid;
        border-width: 1px;

        .icon {
          position: absolute;
          width: 17.7px;
          height: 5.87px;
          color: #ffffff;
          top: 14.1px;
          left: 15.1px;
        }

        .input-edit {
          margin-left: 20px;
          max-width: 390px;
          width: 100%;
          background-color: #0a1544;
          color: #ffffff;
          height: 60px;
          border: none;
          box-sizing: border-box;
          padding-left: 1.5rem;
          &:focus {
            outline: none;
          }
          @media (max-width: 991px) {
            padding: 20px;
            width: 100%;
            // font-size: 7px;
            font-size: 50%;
          }
        }
      }

      .remember {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3%;
        color: #ffffff;
        .remem {
          display: flex;
          width: 40%;
          padding-top: 2px;
          .remember_check {
            height: 26px;
          }
          .rememberMe {
            margin-left: 8px;
          }
        }
        .forgot {
        }
      }
      .primaryBtn {
        max-width: 396px;
        width: 100%;
        height: 60px;
        background-color: #2043f1;
        color: #ffffff;
        margin-top: 5%;
      }

      .signInGoogle {
        max-width: 396px;
        width: 100%;
        height: 60px;
        background-color: #172874;
        color: #ffffff;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
      }
      .signupLink {
        margin-top: 8%;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
