.banner--container {
  max-width: 98rem;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;

  .banner--left {
    color: white;
    margin-top: 22.875rem;

    @media (max-width: 1024px) {
      h2 {
        font-size: 4.2rem;
      }
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2rem;
      }
      .BB_34 {
        font-size: 1.5rem;
      }
    }

    &__image {
      max-width: 600px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .BB_34 {
      font-family: 'Barlow';
      font-weight: 600;
      font-size: 2.125rem;
      line-height: 2.56rem;
      margin: 0;

      letter-spacing: 0.07rem;
      text-transform: uppercase;

      @media (max-width: 1400px) {
        max-width: 38rem;
      }
    }

    .Bb_22 {
      font-family: 'Barlow';
      font-weight: 400;
      font-size: 1.375rem;
      line-height: 1.875rem;
      max-width: 49.3rem;
      margin: 0;
      @media (max-width: 1400px) {
        max-width: 38rem;
        text-align: center;
      }
    }

    .btn-learn {
      max-width: 22.5rem;
      width: 100%;
      height: 3.75rem;
      margin-top: 2.8rem;
      margin-bottom: 21.6rem;

      @media (max-width: 1400px) {
        margin-bottom: 2rem;
      }
    }
  }

  .banner--right {
    position: relative;
    margin-top: 7.4375rem;
    padding-right: 7rem;

    @media (max-width: 1600px) {
      margin-top: 10rem;
    }

    @media (max-width: 1400px) {
      margin-top: 1.375rem;
    }

    img {
      position: absolute;
      top: 40px;
      right: -120px;
      @media (max-width: 1800px) {
        right: 0;
      }

      @media (max-width: 1600px) {
        width: 120%;
      }
      @media (max-width: 1400px) {
        position: relative;
        width: 100%;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      min-width: 230px;
      height: 28px;
      width: 100%;
    }
  }
}
